/*DESCRIÇÃO*/
.descricao{
    margin-bottom: 50px;
}

.descricao h1{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    border-top: 2px solid #931914;
    color: #005C6E;
    font-size: 1.2em;
    font-weight: bolder;
    padding-top: 25px;
    max-width: 45%;
}

.descricao p{
    text-align: center;
    margin: auto;
    max-width: 85%;
    color: #333333; 
}



/*ESPAÇO do FORMULARIO*/
.formulario{
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}



/*FORMULÁRIO*/
#formulario_projeto {
    width: 100%;
}

#formulario_projeto label{
    color: #005C6E;    
}

#formulario_projeto input{
    margin: 10px 0px;
    border:none;
    border-radius: 5px;
    border-bottom: 1px solid #005C6E;
    width: 90%;  
    background-color: #F4F4F4;
}



/*FIELDSET - PROJETO INTERDISCIPLINAR*/
.fieldset_projeto_interdiciplinar{
    border-radius: 10px;
}

.legenda{
    margin-left: 20px;
    color: #005C6E;
    font-weight: bolder;
}



/*NOME / R.A / CURSO / PERÍODO / SEMESRE - PROJETO INTERDISCIPLINAR*/
.formulario_projeto_informacoes{
    width: 96%;
    margin:auto;
}



/*NOME / R.A - PROJETO INTERDISCIPLINAR*/
.div_superior{
    display: flex;
    margin-top: 20px;
}



/*NOME - PROJETO INTERDISCIPLINAR*/
.div_superior_esquerda{
    display: flex;
    flex-direction: column;
    width: 50%;
}



/*R.A - PROJETO INTERDISCIPLINAR*/
.div_superior_direita{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#ra{
    max-width: 36%;
}



/*CURSO / PERÍODO / SEMESTRE - PROJETO INTERDISCIPLINAR*/
.div_inferior{
    display: flex;
}

select{
    border:none;
    border-radius: 5px;
    border-bottom: 1px solid #005C6E;
    background-color: #F4F4F4;
}



/*CURSO*/
.inferior_esquerda{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#curso{
    width: 90%;
}



/*PERÍODO*/
.inferior_central{
    display: flex;
    flex-direction: column;
    width: 20%;
}

#periodo{
    width: 90%;
}



/*SEMESTRE*/
.inferior_direita{
    width: 30%;
    display: flex;
    flex-direction: column;
}



/*INTEGRANTES GRUPO e PROJETO*/
.div_upload{
    width: 96%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}



/*FIELDSET - INTEGRANTES GRUPO*/
.fieldset_esquerdo{
    width: 44.8%;
    border-radius: 10px;
}

.integrantes {
    width: 95%;
    margin: auto;
    padding: 5px 0px;
    display: flex;
}

.labelME{
    margin: 0px 10px;
    align-self: center;
}



/*FIELDSET - PROJETO*/
.fieldset_direito{
    width: 49.5%;
    border-radius: 10px;
}



/*TEMA e GITHUB - PROJETO*/
.projeto-input{
    display: flex;
    width: 90%;
    margin: auto;
}



/*DESCRITIVO e BANNER*/
.projeto-informacoes{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.labelMD{
    padding-left: 30px;
    padding-bottom: 2px;
}



/*DESCRITIVO*/
.projeto-descricao{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

#descricao{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 0;
    border-radius: 7px;
    border: 1px solid #005C6E;
}



/*IMAGEM e BANNER*/
.projeto-banner{
    width: 50%;
    margin: auto;    
}



/*IMAGEM*/
.imagem-banner{
    width: 35%;
}



/*BANNER*/
.titulo-banner{
    width: 100%;
    margin: auto;
}



/*BOTÕES de UPLOAD de IMAGEM*/
.btn-banner{
    display: flex;
}



/*BOTÃO de LIMPAR de IMAGEM*/
#banner-limpar{
    padding: 5px;
    margin-right: 10px;
    background-color: #747474;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 45%;
}

#banner-limpar:hover{
    background-color: #333333;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}



/*BOTÃO de CARREGAR IMAGEM*/
#banner-carregar{
    padding: 5px;
    background-color: #2BB8C9;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 45%;
}

#banner-carregar:hover{
    background-color: #005C6E;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}



/*BOTÕES de ENVIO de FORMULÁRIO*/
.btn-projeto{
    display: flex;
    justify-content: center;   
}

.btn-formulario{
    font-size: 1.2em;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
    margin: 30px 10px; 
}



/*BOTÃO de ENVIAR o FORMULÁRIO*/
#projeto-enviar{
    background-color: #2BB8C9;
}

#projeto-enviar:hover{
    background-color: #005C6E;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}



/*BOTÃO de LIMPAR o FORMULÁRIO*/
#projeto-limpar{
    background-color: #747474;
}

#projeto-limpar:hover{
    background-color: #333333;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}



/*RESPONSIVIDADE - FORMLÁRIO*/
@media screen and (max-width: 1410px){
    /*FORMULÁRIO*/
    #formulario_projeto input{
        width: 100%;
    }



    /*NOME / R.A - PROJETO INTERDISCIPLINAR*/
    .div_superior{
        flex-direction: column;
        margin: auto;
        width: 100%;
    }



    /*NOME - PROJETO INTERDISCIPLINAR*/
    .div_superior_esquerda{
        width: 90%;
        margin: auto;
    }



    /*R.A - PROJETO INTERDISCIPLINAR*/
    .div_superior_direita{
        width: 90%;
        margin: auto;
    }

    #ra{
        max-width: 100%;
    }



    /*CURSO / PERÍODO / SEMESTRE - PROJETO INTERDISCIPLINAR*/
    .div_inferior{
        flex-direction: column;  
    }



    /*CURSO*/
    .inferior_esquerda{
        width: 90%;
        margin: auto;
    }

    #curso{
        width: 100%;
        margin: 10px 0px;
    }



    /*PERÍODO*/
    .inferior_central{
        width: 90%;
        margin: auto;
    }

    #periodo{
        width: 100%;
        margin: 10px 0px;
    }



    /*SEMESTRE*/
    .inferior_direita{
        width: 90%;
        margin: auto;
    }

    #semestre{
        margin: 10px 0px;
    }
    


    /*INTEGRANTES GRUPO e PROJETO*/
    .div_upload{
        flex-direction: column;       
    }



    /*FIELDSET - INTEGRANTES GRUPO*/
    .fieldset_esquerdo{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }



    /*FIELDSET - PROJETO*/
    .fieldset_direito{
        width: 90%;
        margin: auto;
    }



    /*BANNER*/
    #banner{
        max-width: 90%;
    }



    /*BOTÕES de UPLOAD de IMAGEM*/
    .btn-banner{
        margin: 10px 0px;
    }
}



@media screen and (max-width: 800px){
    /*ESPAÇO do FORMULARIO*/
    .formulario{
        width: 90%;
    }



    /*FIELDSET - INTEGRANTES GRUPO*/
    .integrantes{
        flex-direction: column;
    }

    .labelME{
        align-self: flex-start;
    }



    /*TEMA e GITHUB - PROJETO*/
    .projeto-input{
        flex-direction: column;

    }



    /*DESCRITIVO e BANNER*/
    .projeto-informacoes{
        flex-direction: column;
    }



    /*DESCRITIVO*/
    .projeto-descricao{
        width: 100%;
    }



    /*IMAGEM e BANNER*/
    .projeto-banner{
        width: 80%;
        margin: auto;
        
    }



    /*BANNER*/
    #banner{
        max-width: 100%;
    }



    /*BOTÕES de UPLOAD de IMAGEM*/
    .btn-banner{
        margin: 10px 0px;
    }
}






