.informativos{
    flex-direction: column;
}


/*DESCRIÇÃO*/
.descricao{
    margin-bottom: 50px;
}

.descricao h1{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    border-top: 2px solid #931914;
    color: #005C6E;
    font-size: 1.2em;
    font-weight: bolder;
    padding-top: 25px;
    max-width: 45%;
}

.descricao p{
    text-align: center;
    margin: auto;
    max-width: 85%;
    color: #333333;
    
}



/*QUADROS de EVENTOS*/
.info-eventos{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.quadros{
    width: 21%;
    background-color: #fff;
    border: none;
    border-top: 9px solid #931914;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.199);
    
}

.quadros h2{
    color: #005C6E;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quadros p{
    font-size: 0.7em;
}

#observacao{
    color: #931914;
    font-size: 0.6em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quadros button{
    padding: 5px 35px;
    background-color: #fff;
    color: #747474;
    border: 2px solid #747474;
    border-radius: 7px;
    margin-top: 10px;
}



/*QUADROS de PRÓXIMOS EVENTOS*/
.infodata{
    display: flex;
    margin: auto;
    margin-bottom: 5px;
    max-width: 60%;
    justify-content: center;     
}



/*Container DATA*/
.infodata .data{
    width: 30%;
    padding: 15px 0px;
    background-color: #005C6E;
    border-radius: 10px 0px 0px 10px;
}

.infodata .data p{
    margin: auto;
    color: #fff;
    padding: 10px;
}



/*Container INFORMATIVO*/
.infodata .info{
    width: 70%;
    background-color: #EAEDED;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 0px;
}

.infodata .info p{
    color: #686868;
    text-align: left;
    padding: 0px 10px;
    font-size: 0.9em;
}



/*METADE CINZA*/
.metade-inferior{
    background-color: #EAEDED;
}



/*QUADROS de CURSOS EXTRACURRICULARES*/
.cursos-extracurriculares{
    background-color: #EAEDED;

}


.cursos{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-bottom: 15px;
    
}

.quadros-cursos{
    display: flex;
    flex-direction: row;
    width: 24%;
    margin-top: 10px;
    font-size: 0.8em;
}



/*LOGO do CURSO*/
.imagem-curso{
    display: flex;
    background-color: #005C6E;
    width: 30%;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    
}

.imagem-curso img{
   width: 90%; 
}

/*DESCRIÇÃO do CURSO*/
.info-curso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0px;
    color: #005C6E;
    background-color: #fff;
    width: 70%;
    border-radius: 0px 10px 10px 0px;
}



/*BOTÃO*/
.info-curso button{
    align-self: center;
    margin-top: 35px;
    width: 90%;
    padding: 2px 25px;
    background-color: #fff;
    color: #005C6E;
    border: 2px solid #005C6E;
    border-radius: 5px;
}



/*QUADROS de PROJETOS INTERDISCIPLINARES*/
.projetos-interdisciplinares{
    background-color: #EAEDED;
}

#descricao{
    margin-bottom: 0;
}

.descricao h2{
    text-align: center;
    margin-top: 50px;
}

.projetos-dsm{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 15px;
    padding-bottom: 50px;
    justify-content: space-around;
}

.projetos-anual{
    width: 32%;
    display: flex;
}

.projetos-semestre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #005C6E;
    width: 20%;
    border-radius: 10px 0px 0px 10px;
    height: 150px;
    
}

.projetos-semestre img{
    width: 100%;
    
}

.projetos-semestre h3{
    transform: rotate(270deg);
    white-space: nowrap;
    height: 16%;
    text-align: center;
    color: #fff;
}

.projetos-periodo{
    width: 80%;
    display: flex;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
    justify-content: space-around;
}

.projetos-periodo-esq{
    margin: auto;
}

.projetos-periodo-esq h4{
    padding: 15px 0px;
    color: #005C6E;
}

.projetos-periodo-dir{
    margin: auto;
}

.projetos-periodo-dir h4{
    padding: 15px 0px;
    color: #005C6E;
}

.projetos-acesso{
    display: flex;
}

.projetos-acesso p{
    padding-right: 10px;
    color: #005C6E;
}

.projetos-acesso button{
    width: 70%;
    border: 2px solid #005C6E;
    background-color: #fff;
    color: #005C6E;
    border-radius: 5px;
    padding: 2px 6px;
}



/*RESPONSIVIDADE*/
/*QUADROS de AVISO*/
@media screen and (max-width: 840px){
    .info-eventos{
        flex-direction: column;
    }

    .quadros{
        width: 70%;
        margin: auto;
        margin-bottom: 15px;
    }
}



/*QUADROS de PRÓXIMOS EVENTOS*/
@media screen and (max-width: 600px){
    .infodata{
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .infodata .data{
        border-radius: 10px 10px 0px 0px;
        padding: 5px 0px;
        width: 100%;
        font-size: 0.8em;   
    }

    .infodata .info{
        border-radius: 0px 0px 10px 10px;
        width: 100%;
    }

    .infodata .data p{
        text-align: center;
        margin: auto;
    }

    .infodata .info p{
        text-align: center;
        margin: auto;
    }
}



/*QUADROS de CURSOS EXTRACURRICULARES*/
@media screen and (max-width: 1215px){
    .cursos{
        flex-direction: column;
        margin-bottom: 0;
    }

    .quadros-cursos{
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .imagem-curso{
        display: none;
    }

    .info-curso{
        width: 100%;
        justify-content: center;
        background-color: #005C6E;
        color: #fff;
        border-radius: 10px;
    }

    .info-curso button{
        align-self: center;
        margin-top: 25px;
        width: 75%;
        padding: 2px 25px;
        background-color: #fff;
        color: #005C6E;
        font-weight: bolder;
        border: 2px solid #fff;
        border-radius: 5px;
    }
}