@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 1em;
}

.flex-container{
    display: flex;
    width: 100%;
}


/*CABEÇALHO*/
.cabecalho{
    width: 100%;
    background-color: #EAEDED; 
    flex-direction: column;
    margin-bottom: 200px;
    display: flex;
    margin: auto;
    height: 100%;
    
}


/*ACESSIBILIDADE*/
.acessibilidade{
    background-color: #931914;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.acessibilidade a{
    color: #EAEDED;
    text-decoration: none;
}

.acessibilidade li{
    margin: 10px;
}

.atalhos, .links_access{
    list-style: none;
    display: inline-flex;
    
}

.atalhos{
   padding-left: 70px; 

}

.links_access{
    padding-right: 70px;
    
}

  
/*IMAGENS CABEÇALHO*/
.icones_informativos{
    display: flex;
    width: 100%;
    background-color: #EAEDED;
    justify-content: space-between;
    align-items: center;

}

.esquerda{
    padding-left: 5%;
}

.direita{
    padding-right: 5%;
}

#logo_fatec{
    width: 150px;
    margin-top: 15px;
    padding: 15px 30px 5px 0px;
    border-right: solid 2px #C0C0C0;
}

#logo_cps{
    width: 91px;
    margin-left: 26px;
}

.direita img{
    width: 38px;
    margin-left: 15px;
}










/*MENU DE NAVEGAÇÃO*/


.menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #EAEDED;
    justify-content: center; 
    padding: 10px 0px 40px 0px; 
}

.menu_navegacao{
    list-style: none;
    display: inline-flex;
    height: 100%;
    
}

.menu_navegacao li{
    font-family: 'Open Sans', serif;
    font-weight: 300;
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-transform: none;
    color: #333333;
    
}

.menu_navegacao li:hover{
    border-top: solid 2px #931914;
    cursor: pointer;
}

.menu_navegacao li a{
    font-family: 'Open Sans', serif;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: #333333;
}



/*ocultar menu hamburguer*/

label[for="bt_menu"], #bt_menu{
    display: none;
}























/*INFORMATIVO/DESCRITIVO sobre o Projeto Interdisciplinar*/
.cadastro h1{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    border-top: 2px solid #931914;
    color: #005C6E;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 25px;
    max-width: 45%;
}

.cadastro p{
    text-align: center;
    margin: auto;
    max-width: 85%;
    color: #333333;
}



/*Container DATA e INFORMATIVO*/
.infodata{
    display: flex;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 40px;
    max-width: 75%;
    justify-content: center;
     
}



/*Container DATA*/
.infodata .data{
    width: 30%;
    padding: 15px 0px;
    background-color: #005C6E;
    border-radius: 10px 0px 0px 10px;

}

.infodata .data p{
    margin: auto;
    color: #fff;
}



/*Container INFORMATIVO*/
.infodata .info{
    width: 70%;
    background-color: #EAEDED;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 0px;
}

.infodata .info p{
    color: #686868;
    text-align: left;
    font-size: 0.9em;
}



/*BOTÃO de CADASTRO*/
.cadastro button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 70px;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #005C6E;
    border-radius: 5px;
    color: #005C6E;
    font-weight: bold;
}



/*VISUALIZAÇÃO DE TEMAS dos Projetos Interdisciplinares anteriores*/
.projetos{
    background-color: #EAEDED;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;  
}

.projetos h1{
    text-align: center;
    margin-top: 70px;
    padding-top: 25px;
    justify-self: center;
    width: 45%;
    border-top: 2px solid #931914;
    color: #005C6E;
    font-size: 1.2em;
}

.projetos h2{
    color: #005C6E;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 70px;
}



/*Container BANNER / DESCRIÇÃO dos TEMAS / REPOSITÓRIO*/
.temas{
    width: 75%;
    padding-bottom: 100px;
    justify-content: center;
    margin: auto;
}



/*Container BANNER*/
.temas .banner{
    background-color: #005C6E;
    border-radius: 10px 0px 0px 10px;
    width: 20%;
}

.temas .banner img{
    width: 100%;
    margin: auto;
    max-width: 40%;
}



/*Container DESCRIÇÃO dos TEMAS*/
.temas .descricao{
    background-color: #fff;
    display: grid;
    width: 60%;
    padding-left: 10px;
}

.temas .descricao h3{
    color: #005C6E;
    padding-top: 5px;
}



/*Container REPOSITÓRIO*/
.temas .github{
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    width: 20%;
    background-color: #005C6E; 
}

.temas .github a{
    color: #fff;
    text-decoration: none;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.temas .github img{
    padding: 10%;
    max-width: 40%;
    margin: auto;
}


/*RODAPÉ*/
.rodape{
    background-color: #931914;
    height: 50px;
}











/*RESPONSIVIDADE*/

/*BARRA DE ACESSIBILIDADE*/

@media screen and (max-width: 820px){
    .atalhos{
        display: none;
    }

    .links_access{
        padding: 0;
    }

    .acessibilidade{
        justify-content: center;
        margin: 0;
    }
}

@media screen and (max-width: 400px){
    .acessibilidade{
        font-size: 0.8em;
        margin: auto;
    }   
}

/*BARRA DE IMAGENS*/
@media screen and (max-width: 550px){

    #logo_fatec{
        width: 75px;
        padding: 15px 10px 5px 0px;
    }
    
    #logo_cps{
        width: 45px;
        margin-left: 10px;
    }
    
    .direita img{
        width: 38px;
    }
    
}

@media screen and (max-width: 420px){
    
    .direita img{
        width: 26px;
        margin-left: 7px;
    }

    #logo_fatec{
        width: 52px;
    }
    
    #logo_cps{
        width: 31px;
    }
    
}






/* MENU*/

@media screen and (max-width: 1600px){

    .menu{
        height: auto;
        justify-content: left; 
        align-items: flex-start;
        padding: 0px; 
        display: flex;
        flex-direction: column;
    }

    .menu_navegacao li{
        font-family: 'Open Sans', serif;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-transform: none;
        color: #333333;
        font-size: 0.8em;
    }

    .menu_navegacao{
        display: none;
    }

    label[for="bt_menu"]{
        display: block;
        margin: 2%;
    }

    #bt_menu:checked ~ .menu_navegacao{
        display: block; 
    }

    .menu_navegacao li{
        padding: 10px 1px 15px 1px;
    }
   
    .menu_navegacao li ul{
        position:static; /*acrescentado*/ 
    }
    .menu_navegacao li ul li{
        position: relative; /*acrescentado*/
        display: block; /*acrescentado*/
    } 
}




/*CONTEÚDO*/
@media screen and (max-width: 650px){
    .banner{
        display: none;
        width: 0%;
    }

    .github{
        width: 40%;
    }
    
    .github p{
        font-size: 0.8em;
    }
    
}

@media screen and (max-width: 520px){
    .github p{
        display: none;
    }
}












